<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    

      <h1>      FISAT</h1>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img_c1.png" alt="2020 B.tech ADMISSIONS STARTED" width="909" height="793">
            <a class="btn btn-danger btn-sm" href="http://fisat.ac.in/pages/btech-admissions" role="button">Click Here</a>
          </div>
          <div class="carousel-item">
            <img src="chicago.jpg" alt="FISAT BUSINESS  ." width="1100" height="500">
            <a class="btn btn-danger btn-sm" href="https://fbs.ac.in/admissions-mba-programme-2015-2017/" role="button">View More</a>
          </div>
          <div class="carousel-item">
            <img src="ny.jpg" alt="MCA Lateral Entry  . 2020" width="1100" height="500">
            <a class="btn btn-danger btn-sm" href="http://fisat.ac.in/pages/mca-admissions" role="button">Click Here</a>
          </div>
          
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      
      <style>
        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #053030;
          color: white;
        }
        </style>
        </head>
        <body>
        
        <div class="topnav">
          <a class="active" href="http://www.fisat.ac.in/">OFFICIAL PAGE</a>
          <a class="active" href="http://fisat.ac.in/pages/btech-admissions">ADMISSIONS</a>
          <a class="active" href="https://intranet.fisat.ac.in/">ONLINE FEE PAYMENT</a>
          <a class="active" href="http://fisat.ac.in/pages/hostel-facilities">INFRASTRUCTUTE</a>
          <a class="active" href="http://www.fisat.ac.in/">Ph.D Programs</a>
          <a class="active" href="http://fisat.ac.in/department/business-administration/introduction">FISAT BUSINESS</a>
          <a class="active" href="http://gallery.fisat.ac.in/">PHOTO GALLERY</a>
          <a class="active" href="http://fisat.ac.in/downloads.php">DOWNLOADS</a>
          <a class="active" href="http://fisat.ac.in/contact.php">CONTACT US</a>
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <form class="form-inline" action="/action_page.php">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </nav>
          
        </div>
        
        </body>
      
    
      <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Federal Institute of Science And Technology(FISAT)</h1>
        <p>Focus on Excellence</p> 

        

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 80%;
    height: 80%;
  }
  </style>
</head>
<body>

<div class="container mt-3">

<h2></h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/pics/s0.jpg" alt="Los Angeles" width="1100" height="50">
    </div>
    <div class="carousel-item">
      <img src="/static/pics/s1.jpg" alt="Chicago" width="1100" height="50">
    </div>
    <div class="carousel-item">
      <img src="/static/pics/s3.jpg" alt="New York" width="1100" height="50">
    </div>
    <div class="carousel-item">
      <img src="/static/pics/s4.jpg" alt="New York" width="1100" height="50">
    </div>
    <div class="carousel-item">
      <img src="/static/pics/s5.jpg" alt="New York" width="1100" height="50">
    </div>
    <div class="carousel-item">
      <img src="/static/pics/s6.jpg" alt="New York" width="1100" height="50">
    </div>
    <div class="carousel-item">
      <img src="/static/pics/s7.jpg" alt="New York" width="1100" height="50">
    </div>
    <div class="carousel-item">
      <img src="/static/pics/s8.jpg" alt="New York" width="1100" height="50">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</div>

</body>


        

      
      <div class="jumbotron">
        <h1 class="display-3">Why FISAT</h1>
        <div class="container">
          <h2></h2>
          <p></p>            
          <img src="/static/pics/a.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"> 
        </div>
        <p> Federal Institute of Science And Technology (FISAT)® is a private self financing Engineering College, established and run by the Federal Bank Officers` Association Educational Society (FBOAES). The FBOAES is an initiative of the Federal Bank Officers` Association (FBOA), the sole representative body of the entire officers of the Federal Bank</p>
        <p class="lead">
          <a class="btn btn-success btn-lg" href="http://fisat.ac.in/pages/profile" role="button">VIEW MORE</a>

      </div>


      <button class="btn btn-warning">
        <span class="spinner-grow spinner-grow-sm"></span>
        <h5>Teachers</h5>
        <a href="signup" class="btn btn-warning"><h5>Sign Up</h5></a>
        <a href="login" class="btn btn-warning"><h5>Login</h5></a>
      </button>

<h1>.............</h1>
      <button class="btn btn-danger">
        <span class="spinner-grow spinner-grow-sm"></span>
        <h5>OCR</h5>
        <a href="{{ url_for('upload_page') }}" class="btn btn-danger"><h5>Upload</h5></a>
      </button>


<h1>.</h1>
      <div class="card-columns">
      <div class="container">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/static/pics/c.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Computer Science & Engineering</h4>
            <p class="card-text">One of the most sought after courses amoungst engineering students</p>
            <a href="http://fisat.ac.in/department/computer-science-engineering/introduction" class="btn btn-primary">Learn More+</a>
          </div>
        </div>
        <div class="container">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="/static/pics/m.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Mechanical Engineering</h4>
              <p class="card-text">Mechanical Engineering design everything from new batteries,athletic</p>
              <a href="http://fisat.ac.in/department/mechanical-engineering/introduction" class="btn btn-primary">Learn More+</a>
            </div>
          </div>
          <div class="container">
            <div class="card" style="width:400px">
              <img class="card-img-top" src="/static/pics/e.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Electronic & Communication Engineering</h4>
                <p class="card-text">Electrical and communication engineering deals With the electronic devices and</p>
                <a href="http://fisat.ac.in/department/electronics-communication-engineering/introduction" class="btn btn-primary">Learn More+</a>
              </div>
            </div>
            <div class="container">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="/static/pics/civil.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Civil Engineering</h4>
                  <p class="card-text">Civil engineers are into building,supervising,operating,constructing</p>
                  <a href="http://fisat.ac.in/department/civil-engineering/introduction" class="btn btn-primary">Learn More+</a>
                </div>
              </div>
              <div class="container">
                <div class="card" style="width:400px">
                  <img class="card-img-top" src="/static/pics/i.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Instrumentation Engineering</h4>
                    <p class="card-text">Instrumentation Engineering is a branch of engineering that specialises</p>
                    <a href="http://fisat.ac.in/department/electronics-instrumentation-engineering/introduction" class="btn btn-primary">Learn More+</a>
                  </div>
                </div>
                <div class="container">
                  <div class="card" style="width:400px">
                    <img class="card-img-top" src="/static/pics/eee.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Electrical & Electronics  Engineering</h4>
                      <p class="card-text">Electrical and Electronics engineering deals With the electronic devices and</p>
                      <a href="http://fisat.ac.in/department/electrical-electronics-engineering/introduction" class="btn btn-primary">Learn More+</a>
                    </div>
                  </div>
        </div>
      
        

 <div class="icon-bar">
        <a class="active" href="#"><i class="fa fa-home"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
        <a href="#"><i class="fa fa-globe"></i></a>
        <a href="#"><i class="fa fa-trash"></i></a>
</div>
      <div class="container mt-3"></div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


